In [1]:
a = 10

In [2]:
a='c'

In [3]:
type(a)

str

In [5]:
int('123')

123

In [6]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [7]:
print("Hello World")

Hello World

In [8]:
print(123)

123

In [10]:
print('Hello World') #signle anc double converted is same

Hello World

In [14]:
age = 23 #variable
print("My age is:",age)

My age is: 23

In [15]:
print("My age is: {age}")

My age is: {age}

In [16]:
# f string
print(f"My age is: {age}") #formating

My age is: 23

In [17]:
## format()
name="mahfuz"
age = 23
print("My name is {} and age is {}".format(name,age))

My name is mahfuz and age is 23

In [18]:
# place holder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is mahfuz and age is 23

In [20]:
name="Mahfuz Ronnie"
age=23
degree="BE"

"My age is 23 and I have completed: my degree of BE with the name of Mahfuz Ronnie"

print("My age is {} and I have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 23 and I have completed: my degree of BE with the name of Mahfuz Ronnie

## Control Flow
### Decision Making Statement

* if
* if else
* if elif else
* Nested if
* single statement suites

In [21]:
## If statements
age = 18
if age >= 18:
    print("You are eligible to vote")

You are eligible to vote

In [22]:
## If statements
age = 18
if age < 18:
    print("You are not eligible to vote")

In [23]:
## If statements
age = 17
if age < 18:
    print("You are not eligible to vote")

You are not eligible to vote

In [24]:
input()

 Mahfuz Ronnie

'Mahfuz Ronnie'

In [25]:
name = input("Enter your name:")

Enter your name: Mahfuz Ronnie

In [26]:
name

'Mahfuz Ronnie'

In [30]:
age = int(input("Please Enter your age:"))

Please Enter your age: 23

In [28]:
type(age)

int

In [31]:

age = int(input("Please Enter your age:"))
if age >= 18 and age <= 45:
    print("You are young blood")

Please Enter your age: 32

You are young blood

In [32]:
## taks
# take a input of age
# check wheather age >= 18 and age <=45
# display a message you are young blood

In [33]:
age = int(input("Please Enter your age:"))
if age >= 18 and age <= 45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Please Enter your age: 56

Thank you we will let you know

In [ ]:
# mall input the product price
# product >3000 rs 20% off
# print

In [35]:
product_price = int(input("Please input the product price:"))
if product_price > 1000:
                    print("The price of the product is {}".format(product_price*0.8))
else:
                    print("THe product price is {}".format(product_price*0.7))

Please input the product price: 5000

The price of the product is 4000.0

## loops statement
1. while loop
2. for loop
3. nested loops
4. loop control (break, continue, pass)

In [37]:
## while loop
joining_age = 25
i = 1
while joining_age <= 60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [ ]:
total_amount = 1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount+100
else:
    print("Put more money bank people")

In [ ]:
## for loop

In [28]:
def triangle(n):

    m = n-1

    for i in range(0, n):
        for j in range(0, m):
            print(end=" ")

        m = m -1

        for j in range(0, i+1):
            print("*",end=" ")
        print("\r")
        
n = 7
triangle(n)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

    *
   * *
  * * *
 * * * *
* * * * *

In [27]:
n = 7
m = n-1
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")

    m = m -1

    for j in range(0, i+1):
        print("*",end=" ")
    print("\r")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [25]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *