## Q1: Write a program to accept percentage from the user and display the grade according to the following criteria:

In [1]:
marks = int(input("Enter your obtained Marks: "))


if marks>90: 
    print("A")
elif marks>80 and marks<=90:
    print("B")
elif marks>=60 and marks<=80:
    print("C")
else:
    print("D")

Enter your obtained Marks:  92

A

## Q2.

In [11]:
cost_price_bike = int(input("Please Enter Cost Price of Bike in Rs: "))


if cost_price_bike > 100000: 
    print("You have to pay 15% road tax for this Bike.")
elif cost_price_bike > 50000 and cost_price_bike <= 100000:
    print("You have to pay 10% road tax for this Bike.")
else:
    print("You have to pay 5% road tax for this Bike.")

Please Enter Cost Price of Bike in Rs:  678663

You have to pay 15% road tax for this Bike.

Q3.

In [27]:
print("Enter your city Name:")
city_name = str(input())

if city_name == 'Delhi':
    print("Monuments of this city is Red Fort")
elif city_name == 'Agra' or city_name == 'Jaipur':
    print("Monuments of this city is Taj Mahal")
else:
    print("You put wrong city name, please enter Jaipur, Delhi or Agra")

Enter your city Name:

 Agra

Monuments of this city is Taj Mahal

## Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [63]:
input_num = int(input("Enter a number: "))
result = count_divisions(input_num)

def count_divisions(num):
    count = 0
    while num > 10:
        num = num / 3
        count += 1
    return count


print(f"{result} times the number can be divided by three before it is less than or equal to 10.")

Enter a number:  56

2 times the number can be divided by three before it is less than or equal to 10.

## Q5. Why and when to use while loop in python give a detailed description with example
### Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

In [1]:
# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

# Q6. Use nested while loop to print 3 different pattern

In [2]:
# pattern 1
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [3]:
# pattern 2
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
# Patter 3
def pattern(n):
   i = 1
   while i<=n:
      # printing stars
      print(" "*(n-i) + "* " * i)
      i+=1 
 

n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows:  9

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

# Q7. Reverse a while loop to display numbers from 10 to 1

In [7]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

# Q8. Reverse a while loop to display numbers from 10 to 1

In [8]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1